@import url('bootstrap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(245, 245, 245);
  text-align: center;
}

main {
  .btn {
    border: none;

    &:hover {
      background-color: rgb(218, 203, 1) !important;
    }
  }
}